body {
    font: "Trebuchet MS", Verdana, sans-serif;
    background-color: lightyellow;
    color: #696969;
}

h1 {
    font: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
}

p {
    font-size: 20px;
}
#studentnme, #Label2 {
    margin-left: 40px;
    font-size:20px;
}
#course, #studentname {
    width: 200px;
    height: 20px;
    border-color: black;
    
}

#course {
        margin-top: 20px;
        margin-left: 10px;
        width: 210px;
        height: 30px;
}
.submit{
    margin-top:40px;
    margin-left:10px
}

#btnSubmit {
    border: 2px solid #f00;
    border-style: ridge;
    width: 7em;
    background-color: lightblue;
}

#btnSubmit:hover {
    border: 2px solid #f00;
    background: #eef;
}

.input {
    border: 2px solid #006;
    border-style: groove;
    background: #ffc;
    width: 15em;
}

    .input:hover {
        border: 2px solid #f00;
        background: #ff6;
    }
.table1, .table2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border: 0;
    border-collapse: collapse;
}

    .table1 th, .table2 th {
        font-size: 13px;
        font-weight: normal;
        padding: 8px;
        text-align: center;
        background: #b9c9fe;
        width: 160px;
        color: #039;
    }

    .table1 td, .table2 td {
        padding: 8px;
        background: #e8edff;
        border-bottom: 1px solid #fff;
        color: #669;
        width: 160px;
        
        border-top:-10px solid transparent;
    }

    .table1 tr:hover td {
        background: #d0dafd;
        color: #339;
    }
